<p id="notice"><%= notice %></p>

<h1>Listing Leads</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Dob</th>
      <th>Member</th>
      <th>Age</th>
      <th>Mode</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.firstName %></td>
        <td><%= lead.lastName %></td>
        <td><%= lead.email %></td>
        <td><%= lead.contact %></td>
        <td><%= lead.DOB %></td>
        <td><%= lead.member %></td>
        <td><%= lead.age %></td>
        <td><%= lead.mode %></td>
        <td><%= lead.location %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path %>
